{% load index %}
{% load get_item %}
<div id="search" class="container-fluid nav-content"
     style="margin-right: 20px;margin-left: 20px;margin-top: 30px">
    <div id="Tab" class="container" style="width:97%">
        {% if req %}
            <ul class="nav nav-tabs">
                {% with chart_data.keys|firstkey  as active_level %}

                    {% for level in search_data|dictsort:0 %}
                        <li {% if level == active_level %}class="active"{% endif %}>
                            <a href="#{{ level|putunderline }}_search" data-toggle="tab" style="color:#00b385">{{ level }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                    <a href="#" data-toggle="modal" data-target="#modal_search">
                    What is this section?
                </a>

                    <div class="tab-content ">
                    {% for level, data in search_data.items %}
                        <div class="tab-pane {% if level == active_level %}
                    active
                    {% endif %}" id="{{ level|putunderline }}_search">
                            {% if data.fn or data.tp or data.fp %}
                                <div class="well" style="margin-top: 20px;background-color: #424242;border: hidden">
                                    <h1 class="h1-result">False Negative</h1>
                                    <div class="result well">
                                        <p class="p-result">
                                            {% for pattern in data.fn %}
                                                {% for key, value in pattern.items %}
                                                    {% if value %}
                                                        {{ key }} :
                                                        <br>
                                                        {% for item in value|first %}
                                                            {{ item }}: {{ value.0|getitem:item }}
                                                            <br>
                                                        {% endfor %}
                                                        <br>
                                                        <br>
                                                    {% endif %}
                                                {% endfor %}

                                            {% endfor %}
                                        </p>
                                    </div>
                                    <h1 class="h1-result">False Positive</h1>

                                    <div class="result well">
                                        <p class="p-result">
                                            {% for pattern in data.fp %}
                                                {% for key, value in pattern.items %}
                                                    {% if value %}
                                                        {{ key }} :
                                                        <br>
                                                      {% for item in value|first %}
                                                            {{ item }}: {{ value.0|getitem:item }}
                                                            <br>
                                                        {% endfor %}
                                                        <br>
                                                        <br>
                                                    {% endif %}
                                                {% endfor %}

                                            {% endfor %}                   </p>
                                    </div>
                                    <h1 class="h1-result">True Positive</h1>

                                    <div class="result well">
                                        <p class="p-result">
                                            {% for pattern in data.fp %}
                                                {% for key, value in pattern.items %}
                                                    {% if value %}
                                                        {{ key }} :
                                                        <br>
                                                        {% for item in value|first %}
                                                            {{ item }}: {{ value.0|getitem:item }}
                                                            <br>
                                                        {% endfor %}
                                                        <br>
                                                        <br>
                                                    {% endif %}
                                                {% endfor %}

                                            {% endfor %}                           </p>
                                    </div>
                                </div>
                            {% else %}
                                <h3>No Result for {{ level }} complexity code</h3>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endwith %}
                </div>
        {% else %}
            <h3> Please use upload tab to upload files for your pattern detection
                algorithms</h3>
        {% endif %}
    </div>
</div>