        <div id="main" class="container-fluid nav-content"
             style="margin-right: 20px;margin-left: 20px;margin-top: 30px">
            {% for title,content in documentations.items %}
                <!-- Page Heading -->
                <div class="row" id="main ">
                    <div class="col-sm-12 col-md-12" id="content">
                        <div class="well"
                             style="background-color:#424242 ; height: 300px;margin-top: 20px;border: hidden">
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="color:#d0cdcd;margin-left: 20px;font-size: x-large;font-family: yekan">
                                        {{ title | safe }} </p>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p
                                                style="color: #00b385;margin-left: 35px;font-size: large;font-family: yekan">Subtitle
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="post">
                                        <p >{{ content | safe | truncatechars:120 }}
                                        </p>
                                            </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="#" data-toggle="modal" data-target="#modal_{{ forloop.counter }}">
                                            <p class="moreDiv">
                                                More Info
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="modal_{{ forloop.counter }}" role="dialog" style="direction: ltr;">
                            <div class="modal-dialog">

                                <div class="modal-content" id="myDiv">

                                    <div class="modal-header text-center" style="background-color: #eee">
                                        <button type="button" class="close" data-dismiss="modal"
                                                style="color: darkred">&times;
                                        </button>
                                        <h4 class="modal-title" style="margin: 0 auto;display: block;">
                                            {{ title | safe}}
                                        </h4>
                                    </div>
                                    <div class="modal-body " style="max-width: 80%;margin: 0 auto;">
                                        {{ content | safe }}
                                    </div>
                                    <div class="modal-footer text-center">
                                        <a class=" btn btn-success btn-lg" data-dismiss="modal"
                                           style="display: block;margin: 0 auto;min-width: 80% ; font-size: 16px ;background-color: #00b385">close</a>
                                    </div>


                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.row -->
            {% endfor %}
</div>

